<section id="hero-<%= content_block.id %>" class="hero__container" style="--hero-image:url('<%= background_image %>')" data-process-hero>
  <div class="hero">
    <h1 class="hero__title">
      <%= welcome_text %>
    </h1>

    <%= cta_button %>
  </div>
</section>
