<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section debate-fields">
      <div class="row column hashtags__container">
        <%= form.translated :text_field, :title, aria: { label: :title } %>
      </div>
    </div>
  </div>
</div>
