<%= decidim_form_for(@form, url: stopword_path(word), html: { class: "form edit_stopword" }) do |f| %>
  <%= render partial: "form", object: f %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".update") %>
  </div>
<% end %>
