<div class="column">
  <div class="card">
    <div class="card__content">
      <div class="card__header">
        <div class="card__link">
          <div class="card__title">
            <%= title %>
          </div>
        </div>
      </div>
      <div class="card__text">
        <div class="card__text--paragraph">
        </div>
      </div>
    </div>
  </div>
</div>
